@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --primary-color: #660096;
    --dark-color: #1f1225;
    --light-color: #d0b8db;
    --lose-color: #db0808;
    --win-color: #1b7e1b;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
    background-color: white;
    color: #333333;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;
}

.restart {
    display: none;
    background: var(--light-color);
    color: #333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    margin: 1rem auto;
}

.restart:hover {
    background: var(--primary-color);
    color: var(--light-color);
}

.header {
    text-align: center;
    margin: 1rem 0;
}

.header h1 {
    margin-bottom: 1rem;
}

.score {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.2rem;
    color: #ffffff;
}

.score p:first-child {
    background-color: var(--primary-color);
}

.score p:last-child {
    background-color: var(--dark-color);
}

.choices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2 rem;
    margin-top: 2rem;
    text-align: center;
}

.choice:hover {
    color: var(--primary-color);
}

.text-win {
    color: var(--win-color);
}

.text-lose {
    color: var(--lose-color);
}

@media(max-width: 700px) {
    .choice {
        font-size: 110px;
    }
}

@media(max-width: 500px) {
    .choice {
        font-size: 80px;
    }
}
